*{
    margin: 0;
    padding: 0;
    box-sizing: none;
    color: white;
}
body, ul, li,p{
    margin: 0;
    padding: 0;
    list-style: none;
    font-size: 1.2rem;
    font-family: arial;
}

a{
    text-decoration: none;
}

.header{
    background-color: #1d1e20;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.menu{
    display: flex;
}

.menu li{
    margin-left: 20px;
}

.menu li a{
    display: block;
    padding: 10px;
}